<!--

    Licensed to EsupPortail under one or more contributor license
    agreements. See the NOTICE file distributed with this work for
    additional information regarding copyright ownership.

    EsupPortail licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file except in
    compliance with the License. You may obtain a copy of the License at:

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<!DOCTYPE html>
<html lang="fr"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		    <a class="navbar-brand" th:href="@{/}"><img th:src="@{/resources/images/logo.png}" width="200" class="d-inline-block align-top" alt="URN"/></a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		    </button>
		    
		    <div class="collapse navbar-collapse" id="navbarMain">
		    	<ul class="navbar-nav mr-auto">
			    	<li sec:authorize="isAuthenticated()" class="nav-item" th:classappend="${active == 'home'} ? 'active' : ''">
			    		<a class="nav-link" th:href="@{/{ctx}/user(ctx=${pContext})}">Accueil<span class="sr-only">(current)</span></a>
			    	</li>
			    	<li sec:authorize="isAuthenticated()" class="nav-item" th:classappend="${active == 'logs'} ? 'active' : ''">
			    		<a class="nav-link" th:href="@{/{ctx}/user/logs(ctx=${pContext})}">Mon historique</a>
			    	</li>
			    	<li sec:authorize="isAuthenticated() and hasRole('ROLE_ADMIN')" class="nav-item" th:classappend="${active == 'admin'} ? 'active' : ''">
			    		<a class="nav-link" th:href="@{/{ctx}/admin(ctx=${pContext})}">Admin</a>
			    	</li>
			    	<li sec:authorize="isAuthenticated() and hasRole('ROLE_ADMIN')" class="nav-item" th:classappend="${active == 'stats'} ? 'active' : ''">
			    		<a class="nav-link" th:href="@{/{ctx}/admin/stats(ctx=${pContext})}">Statistiques</a>
			    	</li>
			    </ul>
			    
			    <form th:if="${availableContexts.size() > 1}" th:action="@{/}">
			    	<select name="papercutContext" onchange="this.form.submit()">
			    		<option th:each="c : ${availableContexts}" th:text="${c}" th:selected="${c==pContext}"></option>
			    	</select>
			    </form>
			    
			    <a sec:authorize="not isAuthenticated()" class="btn btn-outline-info my-2 my-sm-0" th:href="@{/user}" role="button" th:text="#{navbar.button.login}">Connexion</a>
			    <!--<a sec:authorize="not isAuthenticated()" class="btn btn-outline-info my-2 my-sm-0" th:href="@{/user-nocas}" role="button" th:text="#{navbar.button.login.nocas}">Connexion (nocas)</a>-->
			    
			    <!--<a sec:authorize="isAuthenticated()and hasRole('ROLE_CAS')" class="btn btn-outline-info my-2 my-sm-0" th:href="@{/logout}" role="button"><span th:text="#{navbar.button.logout}">Déconnexion</span> [<span sec:authentication="name">uid</span>]</a>-->
			    <form sec:authorize="isAuthenticated()" class="form-inline" method="POST" th:action="@{/logout}">
			    	<button class="btn btn-warning my-2 my-sm-0" type="submit" ><span th:text="#{navbar.button.logout}">Déconnexion</span> [<span sec:authentication="name">uid</span>]</button>
			    </form>
			</div>
		</nav>
	</header>
</body>
</html>