<!DOCTYPE html>
<html lang="fr"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
</head>
<body>
	<nav th:fragment="paging(page)" aria-label="pagination"
			th:with="current=${page.number+6}, beginIndex=${T(java.lang.Math).max(0,current-10)}, endIndex=${T(java.lang.Math).min(beginIndex+8,page.totalPages-1)}, order=${page.sort.iterator().next()}, sort=${order.property + ',' + order.direction}">
			<ul class="pagination justify-content-center">
				<li class="page-item" th:if="${page.hasPrevious()}"><a class="page-link" 
					th:href="@{''(page=${page.number-1},size=${page.size},sort=${sort})}">Précédent</a>
				</li>
				<li class="page-item" 
					th:each="i : ${#numbers.sequence(beginIndex, endIndex)}"
					th:classappend="${page.number}==${i}?'active':''"><a class="page-link"
						th:href="@{''(page=${i},sort=${sort})}" th:text="${i+1}"></a>
				</li>
				<li class="page-item" th:if="${page.hasNext()}"><a class="page-link"
					th:href="@{''(page=${page.number+1},size=${page.size},sort=${sort})}">Suivant</a>
				</li>
			</ul>
		</nav>
</body>
</html>