<!--

    Licensed to EsupPortail under one or more contributor license
    agreements. See the NOTICE file distributed with this work for
    additional information regarding copyright ownership.

    EsupPortail licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file except in
    compliance with the License. You may obtain a copy of the License at:

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<body>

	<div layout:fragment="content">

		<table class="table table-hover table-striped table-bordered">
			<thead>
				<tr>
					<th scope="col"
						th:replace="fragments/sorting :: sorting(${pageLogs}, 'transactionDate', 'Date')">Date</th>
					<th scope="col"
						th:replace="fragments/sorting :: sorting(${pageLogs}, 'uid', 'Identifiant')">Identifiant</th>
					<th scope="col">Référence</th>
					<th scope="col">Montant (€)</th>
					<th scope="col">Status</th>
					<th scope="col">Nouveau solde (€)</th>
					<th scope="col">Archivé</th>
					<th scope="col">Détail</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="log : ${pageLogs.content}">
					<td th:text="${log.transactionDate}">transactionDate</td>
					<td th:text="${log.uid}">uid</td>
					<td th:text="${log.reference}">reference</td>
					<td th:text="${log.montantDevise}">montantDevise</td>
					<td th:text="${log.papercutWsCallStatus}">papercutWsCallStatus</td>
					<td th:text="${log.papercutNewSolde}">papercutNewSolde</td>
					<td th:text="${log.archived}">archived</td>
					<td class="utilbox"><a class="btn btn-success" title="Voir"
						alt="Détail" th:href="@{~{id}(id=${log.id})}"><img
							title="Voir" th:src="@{/resources/images/show.png}" class="image"
							alt="Voir"></a></td>
				</tr>
			</tbody>
		</table>

		<nav th:replace="fragments/paging :: paging(${pageLogs})"></nav>

	</div>

</body>
</html>
