<!--

    Licensed to EsupPortail under one or more contributor license
    agreements. See the NOTICE file distributed with this work for
    additional information regarding copyright ownership.

    EsupPortail licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file except in
    compliance with the License. You may obtain a copy of the License at:

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<body>

	<div layout:fragment="content">


		<div class="esupPapercutHeader"
			th:utext="${papercutContext.htmlUserHeader}"></div>

		<div class="esupPapercutBody">

			<p>
				<span th:text="#{index.sold}">Solde</span> : <b
					th:text="${userPapercutInfos.balance}">0 EUR</b>
			</p>
			<p>
				<span th:text="#{index.printJobs}">Print Jobs</span> : <b
					th:text="${userPapercutInfos.printJobs}">0</b>
			</p>
			<p>
				<span th:text="#{index.printPages}">Print pages</span> : <b
					th:text="${userPapercutInfos.printPages}">0</b>
			</p>

				<div th:if="${canMakeTransaction}">

					<div th:if="${payboxForms!=null}" class="esuppayboxForm" id="payboxForm">
							
						<hr/>
							
						<fieldset class="border p-2 bg-light">
						
   							<legend  class="w-auto">Paiement par carte bancaire via Paybox</legend>
   							
   							<div class="row">
   							
								<div class="payboxFormPost col-6 col-md-3 col-xl-2"
									th:id="'payboxForm_' + ${payboxFormItem.key}"
									th:each="payboxFormItem: ${payboxForms}"
									th:with="payBoxForm=${payboxFormItem.value}">
	
									<form method="POST" th:action="${payBoxForm.actionUrl}">
	
										<input th:each="payBoxParam: ${payBoxForm.orderedParams}"
											type="hidden" th:name="${payBoxParam.key}"
											th:value="${payBoxParam.value}" /> <input type="hidden"
											name="PBX_HMAC" th:value="${payBoxForm.hmac}" /> <input
											type="submit" th:id="'pbx_credit_' + ${payboxFormItem.key}"
											th:value="#{pay.credit(${payBoxForm.montant})}"
											class="btn btn-success" role="button" 
											data-placement="top" data-toggle="tooltip"
											th:title="${payBoxForm.toolTip}"/>
									</form>
	
								</div>
								
							</div>
							
						</fieldset>

					</div>
					
					<div th:if="${izlypayForms!=null}" class="izlypayForm" id="izlypayForm">

						<hr/>

						<fieldset class="border p-2 bg-light">
   							
   							<legend  class="w-auto">Paiement web via IZLY (CROUS)</legend>
   							
   							<div class="row">
   							
								<div class="izlypayFormPost col-6 col-md-3 col-xl-2"
									th:id="'izlypayForm_' + ${izlypayForm.key}"
									th:each="izlypayForm: ${izlypayForms}">
	
									<form method="POST" th:action="@{'user/izlypay'}">
	
										<input 
											type="hidden" 
											name="montant"
											th:value="${izlypayForm.key}" /> 
										<input
											type="submit" th:id="'pbx_credit_' + ${izlypayForm.key}"
											th:value="#{pay.credit(${izlypayForm.value.montant})}"
											class="btn btn-success" role="button"
											data-placement="top" data-toggle="tooltip"
											th:title="${izlypayForm.value.toolTip}"/>
									</form>
	
								</div>
							
							</div>
							
						</fieldset>

					</div>


					<p th:if="${!canMakeTransaction}">
						<i th:text="#{index.nbTransactions}">Max transactions number</i>
					</p>

				</div>

				<br />

				<div>
					<div th:if="${!papercutContext.cgvText.empty}">
						<input type="checkbox" id="checkbox_cgv" aria-required="true"
							onchange="changeCheckCgv()" /><label for="conditions"
							th:utext="${cgvText}" /></label>


						<script type="text/javascript">
							window.onload = function() {
								changeCheckCgv()
							};
							function changeCheckCgv() {
								var checkBox = document
										.getElementById("checkbox_cgv");
								var btn_credit = document
										.getElementById("pbx_credit");

								if (checkBox.checked == true) {
									$("input[id^='pbx_credit_']").show(200);
								} else {
									$("input[id^='pbx_credit_']").hide(200);
								}
								;
							}
						</script>

					</div>
					<div th:utext="${papercutContext.htmlUserFooter}"></div>
				</div>

		</div>

	</div>

</body>

</html>
