<!--

    Licensed to EsupPortail under one or more contributor license
    agreements. See the NOTICE file distributed with this work for
    additional information regarding copyright ownership.

    EsupPortail licenses this file to you under the Apache License,
    Version 2.0 (the "License"); you may not use this file except in
    compliance with the License. You may obtain a copy of the License at:

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.

-->
<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<body>

	<div layout:fragment="content">

		<div th:if="${isAdmin and !plog.archived and active=='admin'}">
			<form method="post" th:action="@{admin/archive}">
				<input type="hidden" name="id" th:value="${plog.id}" /> <input
					type="submit" value="Archiver ce log" class="btn btn-info" />
			</form>
		</div>

		<dl>
			<dt>reference</dt>
			<dd th:text="${plog.reference}"></dd>
			<dt>montantDevise</dt>
			<dd th:text="${plog.montantDevise}"></dd>
			<dt>idtrans</dt>
			<dd th:text="${plog.idtrans}"></dd>
			<dt>uid</dt>
			<dd th:text="${plog.uid}"></dd>
			<dt>transactionDate</dt>
			<dd th:text="${plog.transactionDate}"></dd>
			<dt>papercutOldSolde</dt>
			<dd th:text="${plog.papercutOldSolde}"></dd>
			<dt>papercutNewSolde</dt>
			<dd th:text="${plog.papercutNewSolde}"></dd>
			<dt>payMode</dt>
			<dd th:text="${plog.payMode}"></dd>
			<dt>archived</dt>
			<dd th:text="${plog.archived}"></dd>
			<dt>papercutContext</dt>
			<dd th:text="${plog.papercutContext}"></dd>
		</dl>

	</div>

</body>

</html>

