<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<body>

	<div layout:fragment="content">

		<div th:if="${isAdmin and !plog.archived and active=='admin'}">
			<form method="post" th:action="@{admin/archive}">
				<input type="hidden" name="id" th:value="${plog.id}" /> <input
					type="submit" value="Archiver ce log" class="btn btn-info" />
			</form>
		</div>

		<dl>
			<dt>reference</dt>
			<dd th:text="${plog.reference}"></dd>
			<dt>montantDevise</dt>
			<dd th:text="${plog.montantDevise}"></dd>
			<dt>auto</dt>
			<dd th:text="${plog.auto}"></dd>
			<dt>erreur</dt>
			<dd th:text="${plog.erreur}"></dd>
			<dt>idtrans</dt>
			<dd th:text="${plog.idtrans}"></dd>
			<dt>signature</dt>
			<dd th:text="${plog.signature}"></dd>
			<dt>uid</dt>
			<dd th:text="${plog.uid}"></dd>
			<dt>papercutWsCallStatus</dt>
			<dd th:text="${plog.papercutWsCallStatus}"></dd>
			<dt>transactionDate</dt>
			<dd th:text="${plog.transactionDate}"></dd>
			<dt>papercutOldSolde</dt>
			<dd th:text="${plog.papercutOldSolde}"></dd>
			<dt>papercutNewSolde</dt>
			<dd th:text="${plog.papercutNewSolde}"></dd>
			<dt>archived</dt>
			<dd th:text="${plog.archived}"></dd>
		</dl>

	</div>

</body>

</html>

